{{/*
An OnePasswordItem with an empty itemPath renders but is inert, so the item
requires its path as well as the toggle.
*/}}
{{- if and .Values.onePassword.enabled .Values.onePassword.itemPath }}
---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ .Values.onePassword.secretName }}
  namespace: {{ .Values.namespace }}
spec:
  itemPath: {{ .Values.onePassword.itemPath | quote }}
{{- end }}
